# Data Science Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

List popular languages for Data Science

- Java
- R
- Python

Some of the popular languages that Data Scientists use are:

1. Python
2. SQL
3. JavaScript

Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. TensorFlow
3. Pandas

| Data Science Tools |
|--------------------|
| Jupyter Notebooks |
| Apache Spark |
| R Studio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [10]:
"This a simple arithmetic expression to mutiply then add integers"

'This a simple arithmetic expression to mutiply then add integers'

In [9]:
(3*4)+5

17

In [11]:
"This will convert 200 minutes to hours by diving by 60"

'This will convert 200 minutes to hours by diving by 60'

In [14]:
min = 200
hours = min/60
print(hours)

3.3333333333333335

## Author
Maung Hmu